body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.display {
    width: 99%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    display: block;
    left: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.equal {
    background-color: #ff5722;
}

.equal:hover {
    background-color: #e64a19;
}

.zero-btn {
    grid-column: span 2;
}

.btn:active {
    transform: scale(0.95);
}

